@tailwind base;
@tailwind components;
@tailwind utilities;



/* Tailwind Reset */
.nextui-reset input {
  @apply border-none outline-none;
}

.scan-region-highlight-svg {
  stroke: #0053df !important; /* Change stroke color to blue */
  
}

.qr-scan-region.scanned {
  border-color: #00df53; /* Green border */
}

.scan-region-highlight-svg.scanned {
  stroke: #00df53 !important; /* Green stroke */
}

/* Custom styles for the code outline highlight */
.stickytwo {
  position: sticky;
  top: 20px; /* Adjust this value as needed */
}