/* gradientHeader.css */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-bg {
    background: linear-gradient(-45deg, #155ce9, #00a3ff, #00df53, #ffdd00, #ff3860);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}